{% extends "encyclopedia/layout.html" %}

{% block title %}
New Page
{% endblock %}

{% block body %}

<h1>New page</h1>

<form method="post">
    {% csrf_token %}
    <p class="title-input">
        <label class="new-title" for="wefa">Title:</label>
        <input type="text" name="title" id="wefa" {% if title %} value="{{title}}" {% endif %} required>
    </p>
    <label class="new-title">Text:</label>
    <textarea name="new-entry" required></textarea>
    <input class="submit-bt" type="submit" value="Save">
    <!-- <button class="submit-bt">Save</button> -->
</form>

{% endblock %}