{% extends "encyclopedia/layout.html" %}

{% block title %}
{{ title }}
{% endblock %}

{% block body %}
{% if entries %}
<h1 class='search-result'><em>"{{ query }}"</em> may refer to:</h1>

<ul>
    {% for entry in entries %}
    <li><a href="{% url 'encyclo:entry' entry %}">{{ entry }}</a></li>
    {% endfor %}
</ul>

{% else %}
<h5>The page <em>"{{ query }}"</em> does not exist.
    You can <a href="{% url 'encyclo:newPageTitle' query %}">ask for it to be created.</a>
</h5>
<p>There were no results matching the query.</p>
{% endif %}
{% endblock %}